//color
$main_color:#c3f0ca;
$color_light_black:#594a4e;
$color_black:#33272a;
$color_light_gray:#E1E4E7;
$color_gray:#4f545a;
$point_color:#ff8ba7;
$back_color: #faeee7;
$sub_color:#ffc6c7;
$memo_color: #fffffe;

//font-family
// @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
// @import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Shadows+Into+Light&family=Shizuru&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Permanent+Marker&display=swap');