//color
$main_color:#AADCF5;
$color_light_black:#495057;
$color_black:#282C30;
$color_light_gray:#E1E4E7;
$color_gray:#4f545a;
$point_color:#419C9E;


//font-family
// @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
// @import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Shadows+Into+Light&family=Shizuru&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Permanent+Marker&display=swap');